<div>
    <div>
        <button class="bg-warning" routerLink="/display">display</button>
    </div>
    <div>
        <form [formGroup]="newHeroForm" (ngSubmit)="onSubmit()">
            <div>
                <label>Name</label>
                <input formControlName="name">
            </div>
            <div>
                <label>Height</label>
                <input formControlName="height" >
            </div>
            <div>
                <label>Origin</label>
                <input formControlName="origin">
            </div>
            <div formArrayName="skills">
                <label>Skills</label>
                <button class="btn btn-default" type="button" (click)="onAddSkill()">Add Skill</button>
                <div class="form-group"
                      *ngFor="let skillControl of newHeroForm.get('skills').value; let i = index">
                    <input type="text" [formControlName]="i">    
                </div>
            </div>
            <button>Submit</button>
        </form>
    </div> 
</div>
